* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 300px;
    width: 230px;
    border: 1px solid salmon;
    position: absolute; /* For Center Another Method */
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); /* center card in main */
    border-radius: 20px;
    overflow: hidden;/* image ne pan card jetli j radius male te mate */
}

#card1{
    z-index: 4; /* card 1 ne suthi upper lavva mate */
    transform: translate(-50% , -50%);
}
#card2:hover{
    z-index: 5;
}
#card2{
    z-index: 3;
    transform: translate(-50% , -50%) rotate(-7deg);
}
#card3:hover{
    z-index: 6;
}
#card3{
    z-index: 2;
    transform: translate(-50% , -50%) rotate(-14deg);
}
#card4:hover{
    z-index: 7;
}
#card4{
    z-index: 1;
    transform: translate(-50% , -50%) rotate(-21deg);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* image ne tena card ma fit karva mate*/
}