* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-weight: normal;
}
.shape{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    display: flex; /* For Text */
    align-items: center;
    justify-content: center; /*Middle Text*/
}
#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color: green;
}
#diamond{
    rotate: 45deg;
    margin-top: 50px;
}
#diamond h1{
    rotate: -45deg; /* Text ne Center ma lavva mate */
}
#diamond:hover{
    background-color: blue;
}
#square:hover{
    background-color: red;
}
